/*Metro Extracts*/
#extracts {
  width: 872px;
  margin: 0 5%;
}

#extracts li {
  margin-top: 20px;
  text-align: left;
  list-style-type: none;
}

#extracts a {
  color: #0C95A0;
  font-weight: 500;
  background: rgba(255,255,255,0.5);
  width:206px;
}

#extracts a:hover {
  color: #d6645c;
}

#last_updated_at {
  color: #d6645c;
  margin-top: -5px;
}

h5.place_name {
  font-family: 'Playfair Display', Georgia, 'serif';
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  font-size: 32px;
  color: #494949;
  line-height: 1.1;
}

#search_input {
  width: 90%;
  height: 44px;
  margin: 0 5%;
}

#bbMap
{
  width: 90%;
  height: 400px;
  margin: 1em 5%;
  background-color: #CCE9FE;
}

.leaflet-popup-content-wrapper {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Playfair Display', Georgia, 'serif';
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  font-size: 18px;
  color: #494949;
  line-height: 1.1;
}
.leaflet-popup-content-wrapper a {
  text-decoration: none;
}

@media (max-width: 767px) {
  #search_input {
  width: 90%;
  margin: 0 5%;
  }

  #extracts {
  width: 650px;
  }

  #extracts a {
  margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  #search_input {
  width: 90%;
  margin: 0 5%;
  }

  #extracts {
  width: 400px;
  }
}
