/*Metro Extracts*/
.margin-centerish {
  margin: 0 6%;
}

#extracts li {
  margin: 5px 0 20px 40px;
  text-align: left;
  list-style-type: none;
}

#extracts a {
  color: #267D7F;
  background:transparent;
  width:207px;
}

#extracts a:hover {
  color: #d6645c;
}

#last_updated_at {
  color: #d6645c;
  margin-top: -5px;
}

h5.place_name {
  font-family: 'Playfair Display', Georgia, 'serif';
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  font-size: 32px;
  color: #494949;
  line-height: 1.1;
}

#search_input {
  width: 826px;
  height: 44px;
  margin: 25px auto;
}
